<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <title>Pizze</title>
</head>
<body>
  <h1>Pizze</h1>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizze}">
            <td th:text="${pizza.name}"></td>
            <td th:text="${pizza.description}"></td>
            <td th:text="${pizza.price}"></td>

            <td>
                <a th:href="@{/show/{id}(id=${pizza.id})}">detail</a>
                <a class="btn btn-primary" th:href="@{/pizze/edit/{id}(id=${pizza.id})}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"></script>
</body>
</html>